{% extends 'masterChats' %}
{% block chats %}
<div class="container">
<div class="row">
<div class="col-sm-9">
<input type="text" id="message" />

<ul id="messages" class="list-group">
    {% for chat in chats %}
            <li class="list-group-item">{{ chat.message }}</li>
    {% endfor %}
</ul>
</div>
</div>
</div>
{% endblock %}
